In [171]:
import pandas as pd

In [172]:
df = pd.read_csv('covid-data.csv')

In [173]:
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
0,15/08/2022,15,8,2022,3968.0,1.0,Austria,AT,AUT,8901064,Europe
1,14/08/2022,14,8,2022,3058.0,2.0,Austria,AT,AUT,8901064,Europe
2,13/08/2022,13,8,2022,4995.0,1.0,Austria,AT,AUT,8901064,Europe
3,12/08/2022,12,8,2022,5706.0,4.0,Austria,AT,AUT,8901064,Europe
4,11/08/2022,11,8,2022,6009.0,7.0,Austria,AT,AUT,8901064,Europe
...,...,...,...,...,...,...,...,...,...,...,...
26834,08/02/2020,8,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
26835,07/02/2020,7,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
26836,06/02/2020,6,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
26837,05/02/2020,5,2,2020,0.0,0.0,Sweden,SE,SWE,10327589,Europe
26838,04/02/2020,4,2,2020,1.0,0.0,Sweden,SE,SWE,10327589,Europe

In [174]:
df.describe()

,day,month,year,cases,deaths,popData2020
count,26839.000000,26839.000000,26839.000000,26743.000000,26555.000000,2.683900e+04
mean,15.643355,6.243936,2020.894855,6121.209101,42.705329,1.537941e+07
std,8.797653,3.248048,0.765755,21810.858548,132.716205,2.142764e+07
min,1.000000,1.000000,2020.000000,-348846.000000,-217.000000,3.874700e+04
25%,8.000000,4.000000,2020.000000,110.000000,0.000000,2.095861e+06
50%,16.000000,6.000000,2021.000000,695.000000,6.000000,6.951482e+06
75%,23.000000,9.000000,2021.000000,3590.000000,33.000000,1.152244e+07
max,31.000000,12.000000,2022.000000,501635.000000,13743.000000,8.316671e+07

In [175]:
df.dtypes

dateRep                     object
day                          int64
month                        int64
year                         int64
cases                      float64
deaths                     float64
countriesAndTerritories     object
geoId                       object
countryterritoryCode        object
popData2020                  int64
continentExp                object
dtype: object

In [176]:
df['dateRep'] = pd.to_datetime(df['dateRep'], format='%d/%m/%Y')

In [177]:
df['dateRep'] = df['dateRep'].dt.strftime('%Y-%m-%d')

In [178]:
df.isna().sum()

dateRep                      0
day                          0
month                        0
year                         0
cases                       96
deaths                     284
countriesAndTerritories      0
geoId                        0
countryterritoryCode         0
popData2020                  0
continentExp                 0
dtype: int64

In [179]:
df.loc[df['cases'].isna()]

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2020,continentExp
1801,2022-08-17,17,8,2022,NaN,13.0,Bulgaria,BG,BGR,6951482,Europe
5361,2022-06-12,12,6,2022,NaN,3.0,Denmark,DK,DNK,5822763,Europe
5362,2022-06-11,11,6,2022,NaN,5.0,Denmark,DK,DNK,5822763,Europe
5367,2022-06-06,6,6,2022,NaN,3.0,Denmark,DK,DNK,5822763,Europe
5368,2022-06-05,5,6,2022,NaN,5.0,Denmark,DK,DNK,5822763,Europe
...,...,...,...,...,...,...,...,...,...,...,...
25088,2022-04-11,11,4,2022,NaN,38.0,Spain,ES,ESP,47332614,Europe
25089,2022-04-10,10,4,2022,NaN,47.0,Spain,ES,ESP,47332614,Europe
25090,2022-04-09,9,4,2022,NaN,42.0,Spain,ES,ESP,47332614,Europe
25092,2022-04-07,7,4,2022,NaN,53.0,Spain,ES,ESP,47332614,Europe
25093,2022-04-06,6,4,2022,NaN,42.0,Spain,ES,ESP,47332614,Europe

In [180]:
df = df.dropna()

In [181]:
df.isna().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
geoId                      0
countryterritoryCode       0
popData2020                0
continentExp               0
dtype: int64

In [184]:
df.to_csv('covid-data-mod.csv', index=False)